body {
	background: #f6f5f2 url("../i/dirt.jpg");
	color: #230410;
	font-size: 16px;
	min-width: 980px;
	}

a {
	color: #4a6b8f;
	}

h1 {
	font-size: 32px;
	font-weight: normal;
	margin: 10px 0 20px 0;
	}

.global-container {
	margin: 0 5%;
	padding: 0 0 84px 0;
	}

.sidebar {
	float: left;
	width: 20%;
	}

	.sidebar .ui-aside-nav {
		margin-bottom: 28px;
		}

	.sidebar .ui-full-logo {
		margin-top: 20px;
		}

	.sidebar__address {
		width: 132px;
		padding: 20px 0 0 0;
		font-size: 12px;
		text-align: center;
		}

		.sidebar__address p {
			margin-bottom: 5px;
			}

	.sidebar__street {
		font-family: bingleyitalic;
		font-size: 14px;
		}

	.sidebar__phone {
		margin-top: 15px;
		}

	.sidebar__location-map-link {
		color: #a29675;
		font-family: bingleyitalic;
		font-size: 14px;
		}

.content-layout {
	padding: 17px 0 0 0;
	margin-left: 20%;
	}

.content {
	margin: 0 0 0 0;
	}

	.content__big-image {
		border: solid 3px #bfaa8d;
		width: 100%;
		}

.content__aside {
	float: left;
	width: 177px;
	margin-top: 21px;
	text-align: center;
	}

	.content__aside .ui-scroll {
		margin: 50px 0 0 0;
		}

.content__text {
	margin: 20px 0 0 210px;
	}


	.content__text .ui-notice {
		text-align: right;
		margin: 5px 5px 0 0;
		}

	.content__text_fullsize {
		margin: 20px 0 0 0;
		}

.person__whois {
	margin: 10px 0 0 0;
	text-align: center;
	}

	.person__position {
		font-family: bingleyitalic;
		font-size: 16px;
		}

	.person__name {
		font-size: 18px;
		}

	.content__text_textpage p {
		margin-bottom: 25px;
		}


.footer {
	border-top: solid 1px #bfaa8d;
	padding: 12px 0 15px 0;
	font-size: 14px;
	}

	.footer__content {
		margin: 0 5%;
		min-width: 980px;
		overflow: hidden;
		}

	.footer_col3 .footer__col {
		float: left;
		width: 33%;
		}

	.footer_col5 .footer__col {
		width: 20%;
		float: left;
		text-align: center;
		line-height: 1.7;
		}

	.footer_col3 .footer__col_col-2 {
		text-align: center;
		}

	.footer_col3 .footer__col_col-3 {
		text-align: right;
		}


.menu-block {
	border-bottom: solid 2px #BFAA8D;
	padding-bottom: 1px;
	}

	.menu-wrap {
		padding-bottom: 8px;
		border-bottom: solid 1px #BFAA8D;
		}

.menu-list {
	text-align: justify;
	font-size: 0;
	}

	.menu-list li {
		font-size: 16px;
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		}

		.menu-list a {
			color: #231f20;
			}

.menu-items {
	margin: 31px 47px 0 20px;
	}

	.menu-items__item {
		float: left;
		width: 90%;
		}

		.menu-items li {
			overflow: hidden;
			margin-top: 48px;
			}

		.menu-items li:first-child {
			margin-top: 0;
			}

		.menu-items__title {
			color: #434242;
			margin-bottom: 3px;
			font-size: 16px;
			font-weight: normal;
			}

		.menu-items__description {
			font-family: bingleyitalic;
			color: #655641;
			font-size: 14px;
			}

	.menu-items__cost {
		width: 10%;
		float: right;
		text-align: right;
		color: #4a6b8f;
		}


.incut-content {
	border-bottom: solid 1px #bfaa8d;
	padding: 0 17px 18px 17px;
	}

.nothing-found-block {
	overflow: hidden;
	}

	.nothing-found-block__description {
		font: normal 25px bingleyitalic;
		color: #383530;
		padding-top: 15px;
		margin-left: 340px;
		}

		.nothing-found-block__description p {
			margin-bottom: 25px;
			}

	.nothing-found-block__headline {		
		text-align: center;
		width: 280px;
		float: left;
		margin-right: 60px;
		color: #3b3b3b;
		}

		.nothing-found-block__headline h2 {
			font: normal 182px bingleyitalic;
			margin: -35px 0 -40px 0;
			}


		.nothing-found-block__headline span {
			font-size: 21px;
			letter-spacing: 24px;
			margin-right: -24px;
			text-transform: uppercase;
			}

.nothing-found-footer {
	margin: 20px 0 0 0;
	padding: 10px 0;
	border-top: solid 1px #bfaa8d;
	border-bottom: solid 1px #bfaa8d;
	overflow: hidden;
	}

	.nothing-found-footer__email {
		float: left;
		}

	.nothing-found-footer__phone {
		float: right;
		}

.contacts-block {
	height: 326px;
	background: url(../i/map.png) 100% 0 no-repeat;
	padding: 40px 0 0 17px;
	margin-bottom: 13px;
	border-bottom: solid 1px #bfaa8d;
	font-size: 14px;

	}

	.contacts-block p {
		margin-bottom: 30px;
		}

.cat-path {
	margin-top: 70px;
	height: 76px;
	background: url(../i/cat-path.png) repeat-x;
	}


.header {
	background: #f6f5f2;
	}

	.header .ui-aside-nav {
		position: absolute; left: 0; z-index: 2;
		}

	.header .ui-lister {
		position: absolute; left: 154px; top: 12px;
		}

	.header__content {
		position: relative;
		margin: 0 17px 0 5%;
		min-width: 980px;
		height: 36px;
		}

	.header__i-like {
		margin-top: 6px;
		float: right;
		}

.container-slider {
	position: relative;
	}

	.container-slider__slide {
		position: relative;
		display: none;
		}

	.container-slider__img-container {
		position: relative;
		}

		.container-slider__img-container .ui-caption-img {
			position: absolute; bottom: 0; width: 100%;
			}

	.container-slider .banner {
		position: absolute; top: 29px; right: 0;
		}

		.container-slider .banner__desc {
			margin: 10px 0 0 -20px;
			width: 150px;
			color: #231f20;
			font: 14px bingleyitalic;
			text-align: center;
			} 

	.container-slider__img-slider {
		width: 100%;
		height: auto;
		display: block;
		}

.ui-loader-img {
	position: absolute; left: 5%; top: 86px; z-index: 10;
	margin-left: 25px;
	width: 80px; height: 34px;
	background: url(../i/ui-loader-img.png) 0 0 no-repeat;
	}


.popup {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: fixed; top:50%; left: 50%; margin-top: -330px; margin-left: -267px;
	width: 533px; height: 660px;
	background: url(../i/popUp.png) 0 0 no-repeat;
	font-size: 14px;
	display: none;
	}

	.popup_close {
		position: absolute; right: 56px; top: 41px;
		width: 24px; height: 24px;
		background: url(../i/close.png) 0 0 no-repeat;
		}

	.popup_content {
		margin: 65px 80px;
		height: 490px;
		overflow: auto;
		}

	.popup p {
		margin-bottom: 10px;
		}

/*HELPERS*/
.ir {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		/* IE 6/7 fallback */
		*text-indent: -9999px;
}

.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
}

.hidden {
		display: none !important;
		visibility: hidden;
}


.showed {
		display: block !important;
		visibility: visible;
}

.invisible {
		visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
		content: " "; /* 1 */
		display: table; /* 2 */
}

.clearfix:after {
		clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
		*zoom: 1;
}